<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        block style
    body
        nav.navbar.navbar-expand.navbar-dark.bg-primary
            .nav.navbar-nav
                a.nav-item.nav-link(href="/products") Products
                a.nav-item.nav-link(href="/categories") Categories
                a.nav-item.nav-link(href="/users") users
        .container.mt-4
            block content