extends ../layout.pug

block style
    link(rel="stylesheet", href="/css/materia.min.css")

block content
    .row.my-5
        .col-md-6
            h1 List of products
        .col-md-6.text-right
            a.btn.btn-success(href="/products/create") Add product

    if listProducts.length > 0
        .row.my-4    
            each product in listProducts
                .col-md-4
                    .card
                        img.card-img-top(src=product.urlImage,alt="")
                        .card-body
                            h4.card-title #{ product.title }
                            .card-text #{ product.description }
                                h4.text-center
                                    span.badge.badge-info #{ product.category.title }
                                div.text-center
                                    form(method="post", action="/products/"+product.id+"/delete")
                                        a.btn.btn-success.mr-2.btn-sm(href="/products/"+product.id+"/edit") Edit
                                        a.btn.btn-dark.mr-2.btn-sm(href="/products/"+product.id) Show
                                        button.btn.btn-sm.btn-danger Delete
            